<div class="container">

  <h2>Welcome back, <%= @user.name %></h2>

  <h4><p>My profile</p></h4>

  <div>
    <p><b>Email:        </b> <%= @user.email %></p>
    <p><b>Phone number: </b> <%= @user.phone_number %></p>
    <p><b>Birth date:   </b> <%= @user.birthdate %></p>
    <p><b>About Me:     </b> <%= @user.about_me %></p>
  </div>

  <p><%= link_to "Edit Profile", sofas_path, class: "link-to-button" %></p>
  <p><%= link_to "Change Password", sofas_path, class: "link-to-button" %></p>

</div>
