<div class="container">
  <h1>Book "<%= @sofa.name %>"</h1>
    <%= simple_form_for [@sofa, @booking] do |f| %>
    <div class="row">
      <div class="col-xs-6">
        <%= f.input :start_date, input_html: {class: "datepicker"} %>
      </div>
      <div class="col-xs-6">
        <%= f.input :end_date, input_html: {id: "secondRangeInput"} %>
      </div>
    </div>
      <%= link_to sofas_path do %>
        <%= f.submit "Confirm", class: "link-to-button" %>
      <% end %>
    <% end %>
</div>
