<div class="container">
  <h1>Your booking</h1>
  <p>Hey, <%= @booking.user.email %>, you booked:</p>
  <ul class="list-unstyled">
    <li>Sofa: <%= @booking.sofa.name %></li>
    <li>Seat capacity: ( <%= @booking.sofa.capacity %> places)</li>
    <li>From <%= @booking.start_date %> to <%= @booking.end_date %></li>
    <li>Number of days booked: <%= (@booking.end_date.to_date - @booking.start_date.to_date).to_i %></li>
    <li>Total: $ <%= ((@booking.end_date.to_date - @booking.start_date.to_date).to_i) * @booking.sofa.price_per_day %></li>
  </ul>
  <h4>Enjoy it!</h4>
<%= link_to 'Home', sofas_path, class: "link-to-button" %>
</div>

