<div class="container">
  <div class="dashboard">
    <h1>Your booking</h1>
    <div class="dashboard-content">
      <div>
        <p>Hey <strong><%= @booking.user.name %></strong>, you booked:</p>
        <ul class="list-unstyled">
          <li><strong><%= @booking.sofa.name %></strong></li>
          <li>Seat capacity: ( <%= @booking.sofa.capacity %> places)</li>
          <li>From <%= @booking.start_date %> to <%= @booking.end_date %></li>
          <li>Number of days booked: <%= (@booking.end_date.to_date - @booking.start_date.to_date).to_i %></li>
          <li>Total: $ <%= ((@booking.end_date.to_date - @booking.start_date.to_date).to_i) * @booking.sofa.price_per_day %></li>
        </ul>
        <h4>Enjoy it!</h4>
      </div>
      <div>
        <%= cl_image_tag @booking.sofa.photo, height: 200, width: 300, crop: :fill %>
      </div>
    </div>
    <%= link_to 'My Profile', profile_path(current_user), class: "link-to-button" %>
  </div>
</div>

