<h1>Sofas#index</h1>
<p><% @sofas.each do |sofa|  %></p>
  <li><%= sofa.name %></li>
  <li><%= sofa.description %></li>
  <li><%= sofa.price_per_day %></li>
  <%= link_to "View Details", sofa_path(sofa.id)  %>
<% end %>



<div class="list-sofa">
  <% @sofas.each do |sofa| %>
    <img class="thumb-large" src="https://kitt.lewagon.com/placeholder/users/gabriel-dehan">
    <div class="list-sofa-name">
      <h3><%= @sofa.name %></h3>
      <p><%= @sofa.location %></p>
    </div>
    <div class="list-sofa-body">
      <p><strong><%= @sofa.description %></strong></p>
      <p><%= link_to "View Details", sofa_path(sofa.id)  %></p>
    </div>
    <div class="list-sofa-status">
      <p class="status pending">Pending</p>
      <p class="list-sofa-price_per_day"><%= @sofa.price_per_day %></p>
    </div>
  <% end %>
</div>

