<div class="container">
  <h1>Sofas directory</h1>
  <%= render 'shared/search' %>
  <div class="row">
    <% @sofas.each do |sofa| %>
      <div class="col-xs-12 col-sm-4">
        <%= link_to sofa_path(sofa.id) do %>
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path sofa.photo, height: 300, width: 400, crop: :fill %>');">
            <div class="card-location">
              <%= sofa.location %>
            </div>
              <div class="card-name">
                <h2><%= sofa.name %></h2>
              </div>
            <div class="card-description">
            </div>
            <img class="card-user" src="https://zurich.impacthub.ch/wp-content/uploads/2016/04/16_Web_Preview_CaroleDouchy-270x162.jpg">
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
