<div class="container">
  <h1><%= @sofa.name %></h1>
  <p><%= @sofa.description %></p>
  <p><b>Location: </b> <%= @sofa.location %></p>
  <p><b>Price per day: </b> <%= @sofa.price_per_day %></p>
  <p><b>Capacity: </b> <%= @sofa.capacity %></p>
  <p><b>Age: </b> <%= @sofa.age %></p>
  <p><b>Comfort level: </b> <%= @sofa.comfort %></p>
  <p><b>Wineproof? </b> <%= @sofa.wineproof %></p>
  <p><b>Bed convertible? </b><%= @sofa.bed %></p>

  <%= link_to new_sofa_booking_path(@sofa.id) do %>
    <button>Book</button>
  <% end %>

  <%= link_to "Back to list", sofas_path %>
</div>

